body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./assets/img/background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  color: white;
  box-sizing: border-box;
}

body {
  animation: backgroundAnimation 15s infinite alternate;
}

/* Animaciones */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Contenedores principales */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  padding: 35px;
  padding-bottom: 15px;
  max-width: 480px;
  width: 100%;
  position: relative;
  top: 0;
  border-radius: 20px;
  animation: fadeIn 0.6s ease-out;
  transition: top 0.2s ease, transform 0.3s ease;
}

.form-container:hover {
  top: 8px;
}

/* Logo */
#logologin {
  max-width: 250px;
  margin-bottom: 8x;
  transition: transform 0.3s ease, filter 0.3s ease;
  border-radius: 15px;
  filter: brightness(1);
}

#logologin:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

/* Estilos del formulario */
.form-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* Campos de entrada */
.input-group label {
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
  font-weight: 500;
  text-transform: uppercase;
}

.input-group input {
  width: 95%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-group input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

/* Botón de inicio de sesión */
#passwordbutton {
  background-color: #007bff;
  color: white;
  padding: 10px 50px;
  width: auto;
  max-width: 220px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
}

#passwordbutton:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

#passwordbutton:active {
  transform: scale(1);
}

/* Botón de inicio de Google */
#google-login-button {
  background-color: #4285f4;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  margin-top: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease-in-out;
  box-shadow: 0 4px 8px rgba(66, 133, 244, 0.3);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

#google-login-button:hover {
  background-color: #3367d6;
  transform: scale(1.05);
}

#google-login-button:active {
  transform: scale(1);
}

#google-login-button svg {
  margin-right: 8px;
}

/* Mensaje de error */
.danger {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  animation: slideUp 0.4s ease-out;
  line-height: 1.5;
}

/* Barra lateral */
.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  height: 100%;
  width: 300px;
  background-color: #ececec;
  color: #333;
  transition: left 0.3s ease-in-out;
  padding-top: 60px;
  z-index: 1000;
  box-shadow: 10px 0 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  padding-bottom: 50px;
}

.sidebar.show {
  left: 0;
}

.sidebar .menu-item {
  color: #333;
  background-color: #fff;
  padding: 18px 22px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: left;
  width: 80%;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s ease;
}

.sidebar .menu-item:hover {
  background-color: #4b4b4b;
  color: white;
  transform: translateX(5px);
}

/* Icono de la barra lateral */
.show-sidebar-button {
  position: absolute;
  top: 20px;
  left: 15px;
  font-size: 28px;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  z-index: 2000;
  transition: color 0.3s ease, transform 0.2s ease;
}

.show-sidebar-button:hover {
  color: #00b7ff;
  transform: rotate(180deg);
  background-color: #ececec;
}

.logo-slidebar {
  margin-left: 18%;
  width: 180px;
}

/* Nombre del usuario */
.sidebar p {
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
  font-weight: bold;
}

/* Tarjeta principal */
.homepage-card {
  background: #fff;
  border-radius: 18px;
  box-shadow: 5px 5px 15px rgb(0, 0, 0);
  padding: 15px;
  margin-left: 100px;
  width: calc(100% - 200px);
  transition: margin-left 0.3s ease-in-out, box-shadow 0.3s ease;
  animation: fadeIn 1s ease-out;
}

.homepage-card:hover {
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.2);
}

/* Fecha */
.current-date {
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: left;
  margin-left: 16px;
}

.current-date:hover {
  transition: transform 0.2s ease, color 0.3s ease;
  color: #1b89ff;
}

/* Botón para crear tabla */
.create-table-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.2s ease-in-out;
  font-weight: bold;
  margin-left: 16px;
}

.create-table-button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.create-table-button:active {
  transform: scale(1);
}

.title-page{
  color: #000000;
  text-align: center;
  margin-bottom: -50px;
}

/* Tabla */
.table-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 15px;
  background-color: #f9f9f9;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  border-top: 3px solid #000000;
  animation: fadeIn 1s ease-out;
  display: block;
  margin: 0;
  margin-top: 15px;
  overflow-y: auto;
  max-height: 700px;
}

.table-container table {
  min-width: 700px;
  width: auto;
  border-collapse: collapse;
  font-size: 38px; /* Aumenté el tamaño de la fuente aún más */
  border-radius: 8px;
  table-layout: fixed;
}

th,
td {
  padding: 8px 6px;
  font-weight: 400;
  word-wrap: break-word;
}

th {
  background-color: #007bff;
  color: white;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

td {
  padding: 6px;
  text-align: left;
  background-color: #f9f9f9;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.05);
  color: #000000;
  font-size: 15px;
}

td input {
  width: 100%;
  padding: 10px;
  border: 1px solid #f9f9f9;
  font-size: 12px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

td input:focus {
  border-color: #28a745;
  box-shadow: 0 0 8px rgba(40, 167, 69, 0.3);
  outline: none;
}

td input:invalid {
  border-color: #dc3545;
}

select {
  width: 100%;
  padding: 9px;
  border: 1px solid #f9f9f9;
  background-color: #f9f9f9;
  font-size: 12px;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

select:focus {
  border-color: #28a745;
  box-shadow: 0 0 8px rgba(40, 167, 69, 0.3);
  outline: none;
}

option {
  width: 100%;
  padding: 14px;
  border: 2px solid #007bff;
  border-radius: 6px;
  background-color: #fff;
  font-size: 12px;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

tr.efectivo td {
  background-color: #8e44ad;
}

tr.cancelado td {
  background-color: #e74c3c;
}

tr.credito td {
  background-color: #2ecc71;
}

/* Estilos para las celdas de "Pago" */
.pago-cell {
  background-color: #2ecc71; /* Verde para "Pago" */
}

.debe-cell {
  background-color: #e74c3c; /* Rojo para "Debe" */
}

.pendiente-fin-de-mes-cell {
  background-color: #f1c40f; /* Amarillo para "Pendiente Fin De Mes" */
}

.pendiente-cell {
  background-color: #f1c40f; /* Amarillo para "Pendiente" */
}

/* Estilos adicionales si es necesario */
table.service-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

table.service-table input,
table.service-table select {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}



/* Styles for the filters container */
.filters {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
}

/* Styles for the filter button */
.filter-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.filter-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Styles for the datepicker container */
.datepicker-container {
  position: relative;
}

.calendar-input {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #fff;
  width: 150px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles for the dropdown */
.dropdown {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #fff;
  color: #495057;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.dropdown:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Option styles */
.dropdown option {
  color: #495057;
  background-color: #fff;
}

.tdth-table {
  padding-left: 20px;
  padding-right: 20px;
}

/* Estilo para los botones */
button.delete-button {
  background-color: #ff6347;
  color: #fff;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

button.delete-button:hover {
  background-color: #ff3300;
}

/* Estilos móviles */
@media screen and (max-width: 768px) and (orientation: portrait) {
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;
    padding-bottom: 25px;
    max-width: 100%;
    width: 90%;
    position: relative;
    top: 10%;
    border-radius: 20px;
    animation: fadeIn 0.6s ease-out;
    transition: top 0.2s ease, transform 0.3s ease;
  }

  .form-container input,
  .form-container button {
    width: 90%;
    padding: 12px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }

  .form-container button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }

  .form-container button:hover {
    background-color: #0056b3;
  }

  /* Animación de aparición */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Barra lateral */
  .sidebar {
    position: fixed;
    top: 0;
    left: -4000px; /* Aumentado por 10 */
    height: 100%;
    background-color: #fff;
    color: #333;
    transition: left 0.3s ease-in-out;
    padding-top: 600px; /* Aumentado por 10 */
    z-index: 1000;
    box-shadow: 3px 0 150px rgba(0, 0, 0, 0.2); /* Aumentado por 10 */
    overflow-y: auto;
    padding-bottom: 500px; /* Aumentado por 10 */
    width: 80%; /* Barra lateral más ancha */
  }

  .sidebar.show {
    left: 0;
  }

  .sidebar .menu-item {
    color: #333;
    background-color: #f4f4f9;
    padding: 60px 80px; /* Más Reducido */
    margin-top: 50px; /* Más Reducido */
    margin-left: 50px; /* Más Reducido */
    margin-right: 150px;
    text-align: left;
    font-size: 45px; /* Más Reducido */
    cursor: pointer;
    border-radius: 30px; /* Más Reducido */
    transition: background-color 0.3s, color 0.3s, transform 0.3s ease;
  }

  .sidebar .menu-item:hover {
    background-color: #4b4b4b;
    color: white;
    transform: translateX(5px);
  }

  /* Icono de la barra lateral */
  .show-sidebar-button {
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 100px;
    background-color: #fff;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    z-index: 2000;
    transition: color 0.3s ease, transform 0.2s ease;
  }

  .show-sidebar-button:hover {
    color: #00b7ff;
    transform: rotate(180deg);
    background-color: #f0f0f0;
  }

  /*Card principal*/
  .homepage-card {
    margin-left: 38%;
    width: 100%;
    margin-top: 160%;
  }

  .current-date {
    font-size: 42px;
    text-align: center;
  }

  .table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    border-top: 3px solid #000000;
    animation: fadeIn 1s ease-out;
    display: block;
    margin: 0;
    margin-top: 15px;
    overflow-y: auto;
    max-height: 2500px;
  }

  .table-container table {
    min-width: 750px;
    width: auto;
    border-collapse: collapse;
    font-size: 38px;
    table-layout: fixed;
  }

  th,
  td {
    padding: 8px 6px;
    text-align: left;
    font-weight: 400;
    word-wrap: break-word;
  }

  th {
    background-color: #007bff;
    color: white;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 36px;
    text-transform: uppercase;
  }

  td {
    padding: 12px;
    text-align: left;
    background-color: #f9f9f9;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.05);
  }

  td input {
    width: 100%;
    padding: 10px;
    border: 1px solid #007bff;
    font-size: 24px;
    background-color: #fff;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
  }

  td input:focus {
    border-color: #28a745;
    box-shadow: 0 0 8px rgba(40, 167, 69, 0.3);
    outline: none;
  }

  td input:invalid {
    border-color: #dc3545;
  }

  select {
    width: 100%;
    padding: 14px;
    border: 1px solid #007bff;
    background-color: #fff;
    font-size: 24px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
  }

  select:focus {
    border-color: #28a745;
    box-shadow: 0 0 8px rgba(40, 167, 69, 0.3);
    outline: none;
  }

  option {
    width: 100%;
    padding: 14px;
    border: 2px solid #007bff;
    background-color: #fff;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
  }

  tr:hover td {
    background-color: #f1f1f1;
  }

  .create-table-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 22px 44px;
    cursor: pointer;
    font-size: 42px;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
  }

  .create-table-button:hover {
    background-color: #218838;
    transform: scale(1.05);
  }

  .create-table-button:active {
    transform: scale(1);
  }
}

.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 28px;
  transition: background-color 0.3s, transform 0.2s ease-in-out;
}

#delete-button-fechas {
  margin-left: 6%;
}

.delete-button:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

.delete-button:active {
  background-color: #bd2130;
  transform: scale(1);
}
 