/* App.css */

/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./assets/img/background.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Estilos para la barra lateral */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  width: 250px;
  background-color: white;
  color: black;
  transition: left 0.3s ease-in-out;
  padding-top: 60px;
  z-index: 1000;
}

.sidebar.show {
  left: 0;
}

.sidebar .menu-item {
  color: white;
  background-color: #555;
  border: none;
  padding: 15px 15px;
  margin-top: 15px;
  text-align: left;
  width: 100%;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar .menu-item:hover {
  background-color: #353535;
}

/* Botón de la barra lateral */
.show-sidebar-button {
  position: absolute;
  top: 20px;
  left: 15px;
  font-size: 30px;
  color: #333;
  background-color: white;
  border-radius: 5px;
  border-color: white;
  cursor: pointer;
  z-index: 2000;
}

.show-sidebar-button:hover {
  color: #00a2ff;
}

/* Estilo de la tarjeta principal */
.homepage-card {
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-left: 100px;
  width: calc(100% - 270px);
  transition: margin-left 0.3s ease-in-out;
  animation: fadeIn 1s ease-out;
}

/* Título de la página */
.homepage-card h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Contenedor de la tabla */
.table-container {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  border-top: 3px solid #007bff;
}

/* Botón de creación de tabla */
.create-table-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s ease-in-out;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.create-table-button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.create-table-button:active {
  transform: scale(1);
}

/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 8px;
}

th, td {
  padding: 15px 20px;
  text-align: left;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
}

th {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  font-size: 18px;
  text-transform: uppercase;
}

td {
  background-color: #ffffff;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s, transform 0.2s ease-in-out;
}

tr:hover td {
  background-color: #f1f1f1;
  transform: translateY(2px);
}

tr:nth-child(odd) td {
  background-color: #f9f9f9;
}

input[type="email"], input[type="password"] {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

input[type="email"]:focus, input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
}

.toggle-password-button {
  background-color: #f1f1f1;
  color: #007bff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-password-button:hover {
  background-color: #ddd;
}

.error-message {
  color: red;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

/* Mejorar la visibilidad de la barra lateral y los elementos en la vista de teléfono móvil */
@media (max-width: 768px) {
  .homepage-card {
    margin-left: 0;
    width: 100%;
  }

  .show-sidebar-button {
    font-size: 25px;
    left: 10px;
    top: 10px;
  }

  .sidebar {
    left: -200px;
    width: 200px;
  }

  .sidebar.show {
    left: 0;
  }

  .table-container {
    padding: 15px;
  }

  table {
    font-size: 14px;
  }

  th, td {
    padding: 10px 15px;
  }

  .create-table-button {
    padding: 10px 18px;
    font-size: 14px;
  }
}

/* Animación fadeIn para la tarjeta */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
